body {
	background-color: #66B266;
	margin: 0;
}
div.centeredstuff {
	background: transparent;
	align-content: center;
	align-items: center;
	align-self: center;
	text-align: center;
}
h1.title {
	font-family: 'Share Tech Mono';
	font-size: 200%;
	color: #FF819C;
	text-align: center;
	letter-spacing: 15px;
}
h2 {
	font-size: 300%;
	font-family: 'Share Tech Mono';
	letter-spacing: 15px;
}
div.menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
}
ul {
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
	list-style-type: none;
	background: transparent;
}
li {
    float: right;
}
a.li {
	font-family: 'Share Tech Mono'; 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
p.menu {
	font-family: 'Share Tech Mono';
	color: white;
	float: left;
	background: transparent;
	padding-left: 30px;
	padding-right: 30px;
}
p.text {
	font-family: 'Share Tech Mono';
	font-size: 150%;
	color: #FF819C;
	text-align: center;
}
a {
	font-family: 'Share Tech Mono';
	font-size: 120%;
	color: #FF819C;
}
img.pic {
	width: 40px;
	height: 40px;
	padding: 5px 5px;
	top: 0;
	float: left;
	background: transparent;
}
img.c {
	width: 40px;
	height: 40px;
	padding: 5px 5px;
	border-radius: 50%;
	top: 0;
	float: left;
	background: transparent;
}
div.box1 {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	text-align: center;
	background-color: #ABD2A0;
	margin: 10%;
	padding: 1% 1%;
	font-size: 150%;
}
div.box {
	padding-top: 5px;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	background-color: #181515;
	text-align: center;
}
input {
	width: 40px;
	height: 40px;
	margin: 5px 5px;
	top: 0;
	float: left;
	background: transparent;
	outline: none;
}
img {
	display: block;
	margin: 0 auto;
	width: 80%;
}